h1 {
 color: green;
 font-family: sans-serif;
 border: thin solid grey;
 display: inline;
 }

p1 {
 color: black;
 font-size: 20px;
 font-family: sans-serif
}


p2 {
 color: black;
 font-size: 20px;
 font-family: sans-serif
}

p3 {
 color: white;
 fonti-size: 20px;
 background-color: green;
 font-family: sans-serif:
}
